<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardSQL">
	<!-- 게시판 글쓰기 -->
	<insert id="write" parameterType="board.bean.BoardDTO">
		insert into board 
		(seq,id,name,email,subject,content,ref) 
		values
		(seq_board.nextval, #{id}, #{name}, #{email}, #{subject}, #{content}, seq_board.currval)
	</insert>
	
	<!-- 게시판 글목록 불러오기 -->
	<select id="getBoardList" parameterType="java.util.Map" resultType="board">
		select * from (
			select rownum rn, tt.* from (
				select * from board order by ref desc, step asc) 
			tt) 
		where rn<![CDATA[>=]]>#{startNum} and rn<![CDATA[<=]]>#{endNum}
	<!-- <를 태그로 인식하니까 <![CDATA[]]> 안에 써도 되고, &gt;= / &lt;= 혹은 &ge; / &le; 로 써도 됨 -->
	<!-- between and 사이에 넣어서 써도 됨 -->
	</select>
	
	<!-- 글 상세페이지 보이기 -->
	<select id="detailView" parameterType="int" resultType="board">
		select * from board where seq=#{seq}
	</select>
	
	<!-- 총 글 수 구하기 -->
	<select id="getTotalA" resultType="int">
		select count(*) from board
	</select>
	
	<!-- 글 수정 -->
	<update id="modify" parameterType="java.util.Map">
		update board 
			set subject=#{subject}, content=#{content}, logtime=sysdate
		where seq=#{seq}
	</update>
	
	<!-- 답글 달기 1 - step update -->
	<update id="stepUpdate" parameterType="board">
		update board set step=step+1 where ref=#{ref} and step>#{step}
	</update>
	
	<!-- 답글 달기 2 - 답글 insert -->
	<insert id="replyInsert" parameterType="java.util.Map">
		insert into board values (
			seq_board.nextval, #{id}, #{name}, #{email}
			, #{subject}, #{content}, #{ref}, #{lev}, #{step}
			, #{pseq}, 0, 0, sysdate)
	</insert>
	
	<!-- 답글 달기 3 - 답글수(reply) update -->
	<update id="replyUpdate" parameterType="java.util.Map">
		update board set reply=reply+1 where seq=#{pseq}
	</update>
	
	<!-- 글 삭제 1 - 원글 reply값 감소 -->
	<update id="updateOrigin" parameterType="String">
		update board set reply=reply-1 where seq=(select pseq from board where seq=#{parameter})
	</update>
	
	<!-- 글 삭제 2 - 답글에 [ 원글이 삭제~ ] 글 추가 -->
	<update id="replyUpdateStr" parameterType="java.util.Map">
		update board set subject=#{str}||subject where pseq=#{seq}
	</update>
	
	<!-- 글 삭제 3 -->
	<delete id="delete" parameterType="String">
		delete board where seq=#{parameter}
	</delete>
</mapper>